* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    /*background-color: lightgrey;*/
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 394px;
}

.col-2 {
    width: 10%;
}

.col-3 {
    width: 474px;
}

.col-4 {
    width: 474px;

}

.col-5 {
    width: 474px;

}

.col-6 {
    width: 22%;
}

.col-7 {
    width: 474px;
}

.col-8 {
    width: 78%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.card {
    box-shadow: rgb(0,0,0,0,15) 0px 15px 25px, rgb(0,0,0,0.05) 0px 5px 10px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    padding-bottom: 20px;
    margin: 20px;
}

